html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;

  background-color: #212121;
  color: #FAFAFA;

  display: flex;
  flex-direction: column;
  overflow: auto;
}

#welcome {
  width: 100%;
  height: 100vh;

  position: absolute;
  z-index: 9999999;
  background-color: #212121;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  #welcome div {
    display: none;
  }

  #welcome p {
    font-weight: 1;
    font-size: 0.75rem;
    color: #808080;
  }

  #welcome h1 {
    font-weight: 900;
    font-size: 3.5rem;
    color: #FAFAFA;
  }

#wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #212121;
  width: 100%;
  padding: 1em;
  /* We want the header to have a static height,
   it will always take up just as much space as it needs.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

#scorePanel {
  font-size: 0.5rem;
}

  #xScorePanel {
    float: left;
    margin-left: 10em;
  }

  #oScorePanel {
    float: right;
    margin-right: 10em;
  }

  #turnMessage {
    text-align: center;
    font-size: 0.70rem;
    display: none;
  }

  #winMessage {
    text-align: center;
    font-size: 0.70rem;
    display: none;
  }

main {
  background-color: #263238;
  width: 100%;
  padding: 1em;
  /* By setting flex-grow to 1, the main content will take up all of the remaining space on the page.
   The other elements have flex-grow: 0 and won't contest the free space. */
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;

}

  #buttons {
    text-align: center;
    margin-bottom: 1em;
  }

  #reset {
    text-align: center;
  }

  #newGame{
    text-align: center;
  }

  table {
    border: none;
    border-collapse: collapse;
    /* width: 50%;
    height: 50%; */
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
  }

  td {
    border: 1px solid #808080;
    text-align: center;
    width: 10vw;
    height: 10vw;
    font-size: 6vw;
  }

  td:hover {
    z-index: 9999;
    /* background-color: #455A64; */
    /* background-color: #78909C; */
    /* background-color: #607D8B; */
    background-color: #808080;
    box-shadow: 0 0 0.1em #333;
    border: 1px solid #808080;
    cursor: pointer;
  }

  tr:first-child td {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr td:first-child {
    border-left: none;
  }

  tr td:last-child {
    border-right: none;
  }

footer {
  background-color: #212121;
  width: 100%;
  padding: 1em;
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

  footer p {
    text-align: center;
    font-size: 0.4rem;
  }

  footer span {
    color: #EF5350;
  }

  /* Change theme */
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    /* text-align: center; */
  }

  #switcher li:first-child {
    margin-right: 0.25em;
  }

  #switcher li {
    text-align: center;
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-bottom: 0.5em;
    border: 1.5px solid #808080;
    cursor: pointer;
  }

  #blueGrayButton {
    background-color: #263238 !important;
    color: #263238 !important;
  }

  #offWhiteButton {
    background-color: #FAFAFA !important;
    color: #FAFAFA !important;
  }